<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head"); %>

  <body>
    <%- include("../partials/navigation"); %>
    <p>Name:<%= student.Name %></p>
    <p>Surname:<%= student.Surname %></p>
    <p>Email: <%= student.Email %></p>
    <p>Age: <%= student.Age %></p>
  </body>
</html>
