<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head"); %>

  <body>
    <%- include("../partials/navigation"); %>
    <p>Name:<%= student.name %></p>
    <p>Surname:<%= student.surname %></p>
    <p>Email: <%= student.email %></p>
    <p>Age: <%= student.age %></p>
    <div>
      <button type="button" ">
        <a href="/students/<%= student.id %>/update">update the student</a>
      </button>
      <button>
        <a href="/students/<%= student.id %>/delete" "
          >delete the student</a
        >
      </button>
    </div>
  </body>
</html>
